.main-page {
    height: 100vh;
    display: flex;
    background-color: #f0f0f0;
    padding: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.new-message-indicator {
    background-color: red;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    margin-left: 10px;
    font-size: 12px;
}

.current-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 150px;
    margin-bottom: 20px;
}

.user-icon {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    margin-right: 10px;
}

.current-user span {
    font-size: 16px;
    font-weight: bold;
}

.user-list-container {
    flex: 0 0 200px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    margin-right: 20px;
}

.user-list-container.closed {
    flex: 0 0 50px;
}

.user-list-container.hidden {
    display: none;
}

.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    position: relative;
    z-index: 0;
}

.chat {
    width: 100%;
    max-width: 700px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: all 0.3s ease;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
}

@media screen and (max-width: 1200px) {
    .main-page {
        flex-direction: column;
        padding: 10px;
    }

    .user-list-container {
        flex: 0 0 auto;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        max-height: none;
        overflow-y: visible;
        box-shadow: none;
        border-radius: 0;
        margin-right: 0;
    }

    .chat {
        width: 100%;
        margin-bottom: 10px;
        max-height: none;
        overflow-y: visible;
        box-shadow: none;
        border-radius: 0;
    }
}